<!DOCTYPE html>
<!--该设置声明使用thymeleaf标签-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试Thymeleaf</title>
</head>
<body>
    <!--表示使用thymeleaf获取文本数据，类似EL表达式。-->
    <p th:text="${test_thymeleaf}"></p>

    <!--    -->
    <form th:action="@{/th/test}">
        <input th:type="test_thymeleaf" th:name="id">
        <button>提交</button>
    </form>

    <hr/>

    <table>
        <tr>
            <td>下标</td>
            <td>编号</td>
            <td>姓名</td>
            <td>住址</td>
        </tr>
        <!-- th:each
             对象遍历，功能类似jstl中的 <c:forEach> 标签。-->
        <tr th:each="thymeleave,thymeleaveStat:${thymeleaves}">
            <td>
                下标：<span th:text="${thymeleaveStat.index}"></span>，
            </td>
            <th th:text="${thymeleave.id}"></th>
            <th th:text="${thymeleave.name}"></th>
            <th th:text="${thymeleave.address}"></th>
        </tr>
    </table>

    <hr/>

    <!--  Map添加数据  -->
    <div th:each="map,mapStat:${datamap}">
        <div th:text="${map}"></div>
        key:<span th:text="${mapStat.current.key}"></span><br/>
        value:<span th:text="${mapStat.current.value}"></span><br/>
        =====================================================
    </div>

    <hr>

    <!--数组 添加代码-->
    <div th:each="array,arrayStat:${array}">
        <span th:text="${arrayStat.count}"></span>
        <span th:text="${array}"></span>
    </div>

    <hr/>

    <!--  Date 添加代码  -->
    <div>
        <span th:text="${#dates.format(now,'yyyy-MM-dd hh:ss:mm')}"></span>
    </div>

    <hr/>

    <!--  th:if条件 添加代码  -->
    <div>
        <span th:if="${(age>=18)}">终于长大啦</span>
    </div>

    <hr>

    <!--th:include 可以直接引入th:frament-->
    <div id="A" th:include="fragment::copy"></div>
</body>
</html>